{% extends 'foods/base.html' %}
{% block content %}
<div class="bgcomponent">
    <div class="row">
        <div class="col">
<div id="header1" class="card text-black bg-warning mb-3" style="max-width: 30rem;">
    <div id="headerDiv" class="card-header"><h4><b>Company Background</b></h4></div>
    <div class="card-body">
        <h4 class="card-title">Canteen History</h4>
        <p class="card-text">The canteen thought of something related to the names of their family members since this is a family business, they combined their names as it result “Zerwin”. Since its growing, people are calling their canteen as “soFast” because of their specialty food which is sopas.</p>
        <br/>
        <p class="card-text">It started in year of 2008 as its current owner Zenaida D.C. Silva. The business started in scratch the reason behind is they need something that will provide their monthly income. The current location of the business is at #63 Saging Street Corner Mirasol BF International/C.A.A. Las Pinas City.</p>
    </div>
    </div>
</div>

<div class="col">
<div id="header1" class="card text-black bg-warning mb-3" style="max-width: 30rem;">
    <div id="headerDiv" class="card-header"><h4><b>Canteen Mission and Vision</b></h4></div>
    <div class="card-body">
        <h4 class="card-title">Canteen Mission</h4>
        <p class="card-text">We offer quality food at affordable prices that give value to the customers. We are committed to satisfy our customer's needs by providing delicious, nutritious and affordable at all times.</p>
        <br/>
        <h4 class="card-title">Canteen Vision</h4>
        <p class="card-text">The Zerwin's SoFast Almusal envisions to sell affordable food in a fast and friendly environment.</p>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}